.mapContainer {
  margin-bottom: 20px;
}

.searchContainer {
  margin-bottom: 20px;

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.searchTextBox{
  float: left;
  width: 79%;
}

.submitButton{
  float: right;
  width: 19%;
}


.errorMessage {
  font-size: 12px;
  font-weight: 400;
  color: #a80000;
  margin: 0;
  padding-top: 5px;
  display: flex;
  align-items: center;
}

.errorIcon {
  font-size: 14px;
  margin-right: 5px;
}
