@import '~@fluentui/react/dist/sass/References.scss';

.FieldEditor {
	padding: 4px 3px;
}

.titleContainer {
  display: flex;
}

.fieldLabel {
	font-weight: 600;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 600;
	color: "[theme:neutralPrimary, default:#323130]";
	box-sizing: border-box;
	box-shadow: none;
	margin: 0px;
	overflow-wrap: break-word;
  display: block;
}

.fieldDescription {
	font-weight: 400;
	font-size: 12px;
	color: #858585;
	margin-top: 4px;
	font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-wrap: break-word;
	display: block;
	user-select: none;
}

.fieldIcon {
	align-self: center;
	font-size: 16px;
	color: "[theme:neutralSecondary, default: #605e5c]";
	margin-right: 8px;
}

.fieldDisplayNoPadding {
  display: inline-block;
	vertical-align: top;
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	outline: 0;
}

.fieldDisplay {
	@extend .fieldDisplayNoPadding;
	padding: 6px 0 0px 0;
	//border: 2px solid;
  //border-color: "[theme:white, default:#ffffff]";
	//margin-left: -2px;
}

.fieldRequired::after {
	content: " *";
	color: "[theme:errorText, default:#a4262c]";
	padding-right: 12px;
}

.buttons {
	padding: 15px 4px;
}

.filePicker {
	padding: 7px;
	align-items: center;
}

.richText {
  position: relative;
}

.errormessage {
	animation-duration: 0.367s;
	animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
	animation-fill-mode: both;
	font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
	font-weight: 400;
	color: "[theme:errorText, default:#a4262c]";
	margin: 0px;
	padding-top: 5px;
	display: flex;
	align-items: center;
}

.fieldContainer {
  padding-bottom: 4px;
}

.labelContainer {
  padding-bottom: 7px;
}

.pickersContainer {
  padding: 6px 0 0px;
}

.thumbnailFieldButtons {
  display: flex;
}

.validationErrorDialog {
  :global {
    .ms-Dialog-main {
      max-width: 540px;
      width: 540px;
    }
  }

  .actions {
    position: relative;
    width: 100%;
    min-height: 24px;
    line-height: 24px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 0px;

    .actionsRight {
      text-align: right;
      margin-right: -4px;
      font-size: 0px;

      .action {
        margin-top: 0px;
        margin-right: 4px;
        margin-bottom: 0px;
        margin-left: 4px;
      }
    }
  }
}

.selectedFileContainer {
	display: flex;
	margin: 10px 0px;
}

h2.sectionTitle {
	color: #000000;
    font-weight: 600;
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 12px;
    clear: both;
}
.sectionFormFields {
	display: flex;
    flex-wrap: wrap;
}
.sectionFormField {
	@media (max-width: 1920px) {
		min-width: 244px;
		max-width: 244px;
	}
	@media (max-width: 1366px) {
		min-width: 248px;
    	max-width: 248px;
		margin-right: 44px;
	}
	@media (max-width: 1024px) {
		min-width: 272px;
    	max-width: 272px;
	}
	@media (max-width: 640px) {
		min-width: 432px;
    	max-width: 432px;
	}
	@media (max-width: 480px) {
		width: 90%;
	}
}
.sectionLine {
	width: 100%;
    border-top: 1px solid #edebe9;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    clear: both;
}

:global {
	.sp-field-customFormatter {
		min-height: inherit;
		display: flex;
		align-items: center;
	}
}