.webPartHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.webPartTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 11px;
  //color: "[theme:neutralPrimary, default: #333333]";
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow-x: hidden;
  text-overflow: ellipsis;

  // Edit mode
  textarea {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    height: 40px;
    line-height: inherit;
    margin: 0;
    outline: 0;
    overflow: hidden;
    resize: none;
    text-align: inherit;
    white-space: pre;
    width: 100%;

    &::placeholder,
    &::-webkit-input-placeholder {
      color: "[theme:inputPlaceholderText, default: #605e5c]";
    }
  }

  // View mode
  span {
    // Nothing at the moment

    a:link {
      text-decoration: none;
    }
  }

  .moreLink {
    margin-bottom: 11px;
  }
}
