# Set the minimum release age for npm packages
min-release-age=30
# Exclude specific packages from the cooldown
min-release-age-exclude[]=@microsoft/*
min-release-age-exclude[]=@fluentui/*
min-release-age-exclude[]=@pnp/*

