.tile {
  text-align: center;
  outline: none;
  position: relative;
  float: left;
  background: rgb(243, 242, 241);
  // selectors: {
  //   focus:after: {
  //     content: ;
  //     position: absolute;
  //     left: 2;
  //     right: 2;
  //     top: 2;
  //     bottom: 2;
  //     box-sizing: border-box;
  //     border: 1px solid white;
  //   }
  // }
}

.tileSizer {
  padding-bottom: 100%;
}

.tilePadder {
  position: absolute;
    left: 2;
    top: 2;
    right: 2;
    bottom: 2
}

.tileLabel {
  background: rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  position: absolute;
  padding: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  //fontSize: fonts.small.fontSize;
  box-sizing: border-box;
}
.tileImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
