.extended-toolbar__filters-menu .ui-tree__title__selection-indicator {
      /* ⚠️ `selectionIndicator` does not apply `styles` prop provided */
      flex: 0 0 auto;
      -webkit-flex: 0 0 auto;
    }

.extended-toolbar .ui-toolbar__menu {
    /* ⚠️ `overflowItem` does not apply `offset` prop provided */
    top: .25rem !important;
  }

.extended-toolbar .extended-toolbar__filters-invoker:focus::before,
.extended-toolbar .extended-toolbar__filters-invoker:focus::after,
.extended-toolbar .extended-toolbar__find-invoker:focus::before,
.extended-toolbar .extended-toolbar__find-invoker:focus::after,
.extended-toolbar .extended-toolbar__find-cancel:focus::before,
.extended-toolbar .extended-toolbar__find-cancel:focus::after,
.extended-toolbar .ui-toolbar__item:focus::before,
.extended-toolbar .ui-toolbar__item:focus::after {
      /* ⚠️ these rules are not ultimately applied when provided in `styles` prop */
      top: calc(.5rem - 1px) !important;
      bottom: calc(.5rem - 1px) !important;
  }
