@import '~@fluentui/react/dist/sass/References.scss';

$themePrimary: '[theme:themePrimary, default:#0078d7]';

@include ms-motion-keyframes();

.controlsTest {
  .instruction {
    @include ms-motion-slideLeftIn;
    animation-duration: $ms-motion-duration-4 !important;
    animation-delay: 0.5s !important;
  }
  .container {
    padding: 10px;
    max-width: 1200px;
    margin: 0px auto 20px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .toggleFilter {
    display: flex;
    float: left;
    margin: 10px;
  }

  .controlFiltersContainer {
    overflow: auto;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .row {
    padding: 10px;
    >div>div {
      margin-bottom: 10px;
    }
  }

  .listItem {
    max-width: 715px;
    margin: 5px auto 5px auto;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px; // Primary Button
    min-width: 80px;
    background-color: #0078d7;
    border-color: #0078d7;
    color: #ffffff; // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: 600;
      font-size: 14px;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }

  .siteBreadcrumb {
    background-color: #0078d7;
    margin-bottom: 10px;
    i,
    a {
      color: #fff;
    }
    ol {
      height: 30px;
      a {
        height: 100%;
        line-height: 30px;
      }
    }
  }

  .carouselContent {
    height: 200px;
    width: 80%;

    color: darkblue;
    font-style: italic;
  }
  .carouselButtonsContainer {
    background-color: orange !important;
    opacity: 0.3;
  }

  .carouselImageContent {
    height: 400px;
  }

  .listViewWrapper {
    height: 200px;
  }
}

.dialogContainer {
  border-top: 4px;
  border-top-color: $themePrimary;
  border-top-style: solid;
  min-width: 400px;

  .dialogContent {
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.125em;
  }

  .dialogFooter {
    display: flex;
    justify-content: center;
    margin-top: 1.25em;

    button {
      min-width: 100px;
      margin: 0px 10px;
    }

    .loader{
      margin-top: 15px;
    }
  }
}
