// @import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";
@import '~office-ui-fabric-react/dist/sass/References.scss';

.label {
  color: var(--bodyText) !important;
}

.folderPicker {
  display: flex;
  align-items: center;

  .selection {
    width: 90%;
  }

  .selectFolderLabel {
    color: var(--neutralSecondary);
  }

  .selectFolder {
    align-items: center;
    display: flex;
    margin-right: 5px;
    max-width: 90%;
    color: var(--link);
    &:hover {
      color: var(--linkHovered);
    }
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .deleteSelection {
      i {
        color: var(--bodyText);
      }
    }
  }

  & .selectButton {
    width: 10%;
    display: flex;
    justify-content: center;

    & i {
      color: var(--bodyText);
    }
  }
}

.actions {
  button {
    margin-right: 15px;
  }
}

label.required::after {
  content: " *";
  color: var(--redDark);//rgb(168, 0, 0);
  padding-right: 12px;
}
