@import '~office-ui-fabric-react/dist/sass/References.scss';

.taxonomyPanelContents {
  .choiceOption {
    color: "[theme: bodyText, default: #323130]";
    display: inline-block;
    padding-left: 26px;
  }

  .disabledChoiceOption {
    color: "[theme: disabledBodyText, default: #323130]";
    display: inline-block;
    padding-left: 26px;
  }

  .selectedChoiceOption {
    font-weight: bold;
  }

  .checkbox {
    color: "[theme: bodyText, default: #323130]";
    margin-left: 4px;
  }

  .disabledCheckbox {
    color: "[theme: disabledBodyText, default: #323130]";
    margin-left: 4px;
  }

  .selectedCheckbox {
    font-weight: bold;
  }

  .taxonomyTreeSelector {
    border-bottom-color: blue;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 30px;
  }

  .taxonomyTreeLabel {
    font-size: 18px;
    font-weight: 100;
  }

  .spinnerContainer {
    height: 48px;
    line-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loadMoreContainer {
    height: 48px;
    line-height: 48px;
  }
}
