@import '~@fluentui/react/dist/sass/References.scss';

.richtext {
  color: inherit;
}

.insertLinkDialog {
  :global {
    .ms-Dialog-main {
      max-width: 540px;
      width: 540px;
    }
  }

  .actions {
    position: relative;
    width: 100%;
    min-height: 24px;
    line-height: 24px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 0px;

    .actionsRight {
      text-align: right;
      margin-right: -4px;
      font-size: 0px;

      .action {
        margin-top: 0px;
        margin-right: 4px;
        margin-bottom: 0px;
        margin-left: 4px;
      }

      .unlinkButton {
        margin-top: 4px;
        font-size: 14px;
        float: left;
      }
    }
  }
}

.headerDropDown {
  width: 160px;
}

.toolbarDropDown {
  height: 34px;
}
.toolbarDropDownTitleIcon {
  margin-top: -2px;
  margin-right: 0px;
}

.toolbarDropDownIcon {
  margin-top: -2px;
  margin-right: 0px;
  margin-left: -4px;
}

.toolbarDropDownOption {

  &.toolbarButtonH2 {
    font-size: 20px;
    font-weight: 600;
  }

  &.toolbarButtonH3 {
    font-size: 18px;
    font-weight: 600;
  }

  &.toolbarButtonH4 {
    font-size: 16px;
    font-weight: 600;
  }

  &.toolbarButtonBlockQuote {
    font-size: 16px;
    font-style: italic;
  }

  &.toolbarButtonNormal {
    font-size: 16px;
  }
}

.toolbarSubmenuCaret {
  display: inline-block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  speak: none;
  top: 50%;
  color: "[theme:neutralLighterAlt, default:#{$ms-color-neutralLighterAlt}]";
}

.toolbarSubmenuDisplayButton {
  width: 100%;
}

:global(.pnp-richtext-quill-container) {
  .ql-toolbar {
    background-color: transparent;
    color: "[theme:neutralLighterAlt, default:#{$ms-color-neutralLighterAlt}]";
    border: none;
    display: none;

    .ms-TooltipHost {
      display: inline-block !important;
    }

    .ms-Dropdown-container {
      display: inline-block !important;
    }

    .ms-Button {
      background-color: "[theme:neutralPrimary, default:#{$ms-color-neutralPrimary}]";
      color: "[theme:neutralLighterAlt, default:#{$ms-color-neutralLighterAlt}]" !important;

      &:hover {
        background-color: "[theme:neutralTertiary, default:#{$ms-color-neutralTertiary}]";
        color: "[theme:neutralLighterAlt, default:#{$ms-color-neutralLighterAlt}]";
      }

      &:focus {
        border: 1px solid "[theme:neutralLighterAlt, default:#{$ms-color-neutralLighterAlt}]";
        outline: 0;
        color: "[theme:neutralLighterAlt, default:#{$ms-color-neutralLighterAlt}]";
      }

      &:active {
        color: "[theme:neutralLighterAlt, default:#{$ms-color-neutralLighterAlt}]";
      }

      &.is-checked {
        background-color: "[theme:themePrimary, default:#{$ms-color-themePrimary}]" !important;
      }
    }
    .ms-Dropdown-title {
      background-color: "[theme:neutralPrimary, default:#{$ms-color-neutralPrimary}]";
      color: "[theme:neutralLighterAlt, default:#{$ms-color-neutralLighterAlt}]" !important;
      border: none;
      min-height: 34px;
      padding-bottom: 0px;
      padding-left: 9px;
      padding-right: 20px;
      padding-top: 2px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transition-property: background-color, color;
      border-radius: 0;

      &:hover {
        background-color: "[theme:neutralTertiary, default:#{$ms-color-neutralTertiary}]";
        color: "[theme:neutralLighterAlt, default:#{$ms-color-neutralLighterAlt}]";
      }

      &:focus {
        border: 1px solid "[theme:neutralLighterAlt, default:#{$ms-color-neutralLighterAlt}]";
        outline: 0;
        color: "[theme:neutralLighterAlt, default:#{$ms-color-neutralLighterAlt}]";
      }

      &:active {
        color: "[theme:neutralLighterAlt, default:#{$ms-color-neutralLighterAlt}]";
      }
    }

    .ms-Dropdown-caretDownWrapper {
      right: 4px;
      margin-top: -1px;
    }
  }

  .ql-snow.ql-toolbar button,
  .ql-snow .ql-toolbar button {
    background-color: "[theme:neutralPrimary, default:#{$ms-color-neutralPrimary}]";
    color: "[theme:neutralLighterAlt, default:#{$ms-color-neutralLighterAlt}]";
    font-size: 16px;
    min-width: 34px;
    height: 34px;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0;
  }

  .ql-toolbar.ql-snow {
    padding: 0px;
    font-family: "Segoe UI Web (West European)", Segoe UI, -apple-system,
      BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    border: none;
    margin-bottom: 2px;
    z-index: 3;
    -webkit-animation-name: ms-fadeIn, ms-slideUpIn10;
    animation-name: ms-fadeIn, ms-slideUpIn10;
    -webkit-animation-duration: 167ms;
    animation-duration: 167ms;
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
    animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transition: all 367ms cubic-bezier(0.1, 0.9, 0.2, 1);
    transition: all 367ms cubic-bezier(0.1, 0.9, 0.2, 1);
  }

  .ql-snow.ql-toolbar:after,
  .ql-snow .ql-toolbar:after {
    clear: both;
    content: "";
    display: table;
  }
  .ql-container.ql-snow {
    border: none;
  }

  .ql-active .ql-editor:hover {
    border-width: 1px;
    border-style: solid;
    border-color: "[theme:neutralTertiary, default:#{$ms-color-neutralTertiary}]";
  }

  .ql-active .ql-editor:focus,
  .ql-active .ql-editor:active,
  .ql-active .ql-editor:active:hover {
    border-width: 1px;
    border-style: solid;
    border-color: "[theme:themePrimary, default:#{$ms-color-themePrimary}]";
  }

  .ql-active .ql-toolbar {
    display: inline-flex;
    position: absolute;
    top: -28px;
    opacity: 1;
    height: 34px;
    -webkit-box-shadow: 0 0 5px 0 #c8c8c8;
    box-shadow: 0px 0px 5px 0px #c8c8c8;
  }

  .ql-snow .ql-editor, .ql-editor{
    // border: 1px solid transparent;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 68px;
    font-family: "Segoe UI Web (West European)", Segoe UI, -apple-system,
      BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 18px;

    h2 {
      font-weight: 600 !important;
      font-size: 28px;
    }

    h3 {
      font-size: 24px;
      font-weight: 600 !important;
    }

    h4 {
      font-size: 20px;
      font-weight: 600 !important;
    }

    blockquote,
    div,
    h2,
    h3,
    h4,
    ol,
    p,
    ul {
      -webkit-font-smoothing: antialiased;
      line-height: 1.3;
      // margin: 0 0 16px;
      word-wrap: break-word;
    }

    blockquote {
      border-bottom-color: "[theme:neutralLighter, default:#{$ms-color-neutralLighter}]";
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-left-style: none;
      border-left-width: 0;
      border-left-color: transparent;
      border-right-style: none;
      border-right-width: 0;
      border-right-color: transparent;
      border-top-color: "[theme:neutralLighter, default:#{$ms-color-neutralLighter}]";
      border-top-style: solid;
      border-top-width: 1px;
      font-size: 20px;
      font-style: italic;
      font-weight: 600;
      line-height: 1.3;
      margin-bottom: 28px;
      padding-bottom: 32px;
      margin-top: 28px;
      margin-right: 0px;
      margin-left: 0px;
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 32px;
      text-align: center;
    }

    .ql-size-xsmall {
      font-size: 10px;
    }

    .ql-size-small {
      font-size: 12px;
    }

    .ql-size-medium {
      font-size: 14px;
    }

    .ql-size-mediumplus {
      font-size: 16px;
    }

    .ql-size-large {
      font-size: 18px;
    }

    .ql-size-xlarge {
      font-size: 20px;
    }

    .ql-size-xlargeplus {
      font-size: 24px;
    }

    .ql-size-xxlarge {
      font-size: 28px;
    }

    .ql-size-xxxlarge {
      font-size: 32px;
    }

    .ql-size-xxlargeplus {
      font-size: 36px;
    }

    .ql-size-super {
      font-size: 42px;
    }

    .ql-size-superlarge {
      font-size: 68px;
    }
  }

  @media screen and (min-width: 1024px) {
    .ql-editor div,
    .ql-editor ol,
    .ql-editor p,
    .ql-editor ul {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.3;
    }
  }

  .ql-active .ql-editor {
    // background-color: red;
    color: inherit;
  }

  .ql-tooltip {
    display: none !important;
  }

  .ql-editor.ql-blank::before {
    font-style: normal;
    color: "[theme:neutralTertiary, default:#{$ms-color-neutralTertiary}]";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
  }

  // correct border/hover/active border, same as with other controls, no jumping
  .quill {
    .ql-editor {
      border-width: 1px;
      border-style: solid;
      border-color: "[theme:neutralTertiary, default:#{$ms-color-neutralTertiary}]";
      &:hover {
        border-color: "[theme:neutralDark, default:#{$ms-color-neutralDark}]";
      }
      &:active::after, &:active:focus::after, &:active:hover::after, &:focus::after {
        content: "";
        pointer-events: none;
        position: absolute;
        border-style: solid;
        border-width: 2px;
        inset: -1px;
        border-color: "[theme:themePrimary, default:#{$ms-color-themePrimary}]";
        border-radius: 2px;
      }
    }
  }

  // hyperlin color on dark theme
  .ql-editor {
    a {
      color: "[theme:themePrimary, default: #{$ms-color-themePrimary}]";
      &:hover {
        color: "[theme:themeDarker, default: #{$ms-color-themeDarker}]";
      }
    }
  }

  .ql-editor ol li:not(.ql-direction-rtl),
  .ql-editor ul li:not(.ql-direction-rtl) {
    padding-left: 0;
  }

  div#DropDownStyles-list, div#DropDownAlign-list, div#DropDownLists-list {
    .ms-Dropdown-item {
      background-color: "[theme:neutralPrimary, default:#{$ms-color-neutralPrimary}]" !important;
      color: "[theme:neutralLighterAlt, default:#{$ms-color-neutralLighterAlt}]" !important;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transition-property: background-color, color;
    }

    .ms-Dropdown-item:hover {
      background-color: "[theme:neutralTertiary, default:#{$ms-color-neutralTertiary}]" !important;
      color: "[theme:neutralLighterAlt, default:#{$ms-color-neutralLighterAlt}]" !important;
      cursor: pointer;
    }

    .ms-Dropdown-item.is-selected,
    .ms-Dropdown-item.is-selected:hover {
      background-color: "[theme:themePrimary, default:#{$ms-color-themePrimary}]" !important;
      color: "[theme:neutralLighterAlt, default:#{$ms-color-neutralLighterAlt}]" !important;
    }
  }
}
