@import "~office-ui-fabric-react/dist/sass/References.scss";

.container {
  display: flex;

  // Styles for elements container
  .contentContainer {
    flex-grow: 2;
    position: relative;
  }

  .indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    list-style: none;

    &.rectangle > li {
      width: 25px;
      height: 5px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }

    &.square > li {
      width: 10px;
      height: 10px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }

    &.circle > li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }

    & > li {
      flex: 0 1 auto;
      text-indent: -999px;
      cursor: pointer;
      background-color: "[theme:white, default: #fff]";
      opacity: 0.5;
      transition: opacity 0.5 ease;
      margin: 0 3px;
      box-sizing: content-box;
      background-clip: padding-box;

      &.active {
        opacity: 1;
      }
    }
  }

  .loadingComponent {
    margin: auto;
  }

  // Bottons containers
  .buttonLocations {
    cursor: pointer;
    flex-direction: column;
  }

  .centralButtonsContainer {
    @extend .buttonLocations;
    justify-content: center;
  }
  .topButtonsContainer {
    @extend .buttonLocations;
    justify-content: left;
  }
  .bottomButtonsContainer {
    @extend .buttonLocations;
    justify-content: left;
    flex-direction: column-reverse;
  }


  // ButtonContainer display mode
  .buttonsOnlyPrevButton {
    position: absolute;
    left: 0;
    z-index: 1;
  }
  .buttonsOnlyPrevButton:hover {
    cursor: pointer;
  }

  // Buttons styles
  .buttonsOnlyNextButton {
    position: absolute;
    left: -32px;
    z-index: 1;
  }
  .buttonsOnlyNextButton:hover {
    cursor: pointer;
  }

  .buttonsContainer {
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
  }
  .buttonsOnlyContainer {
    @extend .buttonsContainer;
    position: relative;
    width: 0px;
  }

  .blockButtonsContainer {
    @extend .buttonsContainer;
    min-height: 100%;
    min-width: 32px;
  }
  .blockButtonsContainer:hover {
    @extend .buttonsContainer;
    background-color: #f4f4f4;
    opacity: 0.5;
  }

  .hiddenButtonsContainer {
    @extend .buttonsContainer;
    min-height: 100%;
    min-width: 32px;
    opacity: 0;
  }
  .hiddenButtonsContainer:hover {
    opacity: 0.5;
    background-color: #f4f4f4;
  }
}
