@import '~@fluentui/react/dist/sass/References.scss';

.treeView {
  padding: 15px;

  .listItem {
    display: flex;
    margin-top: 6px;
    align-items: flex-start;
  }

  .treeSelector {
    vertical-align: middle;
    margin: 4px 4px 0 0;
    cursor: pointer;

    &>button {
      height: 20px;
      width: 20px;
      padding: 0;
    }
  }

  .itemContent {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 4px;

    &.disabled {
      cursor: default;
      color: var(--treeview-disabledBodyText);

      .labels {
        .itemSubLabel {
          color: var(--treeview-disabledSubtext);
        }
      }
    }

    &.noCheckBox:not(.disabled) {
      &:hover {
        background-color: var(--treeview-listItemBackgroundHovered);
      }

      &.checked {
        background-color: var(--treeview-listItemBackgroundChecked);
      }
    }

    .checkbox {
      margin-right: 8px;
    }

    .icon {
      height: 18px;
      line-height: 18px;
    }

    .labels {
      line-height: 18px;

      .itemLabel {
        padding: 0;
      }

      .itemSubLabel {
        font-size: 12px;
        color: var(--treeview-bodySubtext);
      }
    }
  }

  .itemMenu {
    display: flex;
    margin-left: 8px;

    .actionMore {
      width: 14px;
      height: 20px;
      padding: 0;
    }

    .actionButton {
      height: 20px;
      padding: 0;
      background-color: transparent;

      &:hover {
        background-color: var(--treeview-buttonBackgroundHovered);
        color: var(--treeview-buttonTextHovered);
      }

      &:pressed {
        background-color: var(--treeview-buttonBackgroundPressed);
        color: var(--treeview-buttonTextPressed);
      }
    }
  }

  .tree {

    label>span {
      padding-left: 0px;
    }

    .blankspace {
      padding-left: 35px;
    }
  }
}
