.modernTaxonomyPicker {

  .termField {
    align-items: center;
    border-spacing: 0;
    display: flex;
    width: 100%;

    .termFieldInput {
      flex-grow: 1;
    }

    .termFieldButton {
      text-align: center;
      width: 42px;
    }

    input[type="text"] {
      cursor: pointer;
      opacity: 0.8;
      width: 100%;
    }
  }

}
