.SPAttachments {

  .controls {

    div {
      float:left;
    }
    .uploadButton {
      padding-left:15px;
    }

  }

  .clear {
    clear:both;
  }

  ul {
    list-style: none;
    padding-left:0;
  }

  .attachment {

    line-height: 30px;

    .deleteButton {
      content: icon;
    }

  }

}
